{% extends "::base.html.twig" %}

{% block stylesheets %}
    {% stylesheets '@MyTrainingBundle/Resources/css/bundle.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block title %}MyTrainingBundle:MyController:GET{% endblock %}

{% block body %}
<h1>Welcome to the MyController:GET page</h1>
Parameters get:
<ul>
<li>Param1: {{ param1 }}</li>
<li>Param2: {{ param2 }}</li>
</ul>

Filtering param1 :
<ul>
<li>Upper: {{ param1|upper }}</li>
<li>Lower: {{ param1|lower }}</li>
<li>First character Up: {{ param1|capitalize }}</li>
<li>First character Up and bold: {{ param1|firstbold|raw }}</li>
</ul>

{% endblock %}
